<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PlantUML Viewer</title>
  <script src="https://cdn.jsdelivr.net/npm/raphael"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/plantuml-encoder@1.4.0/dist/plantuml-encoder.min.js"></script>
  <script>
    //  document.addEventListener('DOMContentLoaded', function() {
    //    var diagramText = document.getElementById('diagram');
    //    //var imageSource = "http://www.plantuml.com/plantuml/svg/" + encodeURI(PlantUML.encode(diagramText));
    //    var imageSource = "http://www.plantuml.com/plantuml/svg/" + encodeURI(plantumlEncoder.encode(diagramText));

    //    diagramContainer.innerHTML = "<img src='" + imageSource + "'>";
    //  });
    $(document).ready(function(){
      $("#generate_map").click(function(){
        var diagramContainer = document.getElementById('diagram');
        var diagramText = diagramContainer.innerHTML;
        var imageSource = "http://www.plantuml.com/plantuml/svg/" + encodeURI(plantumlEncoder.encode(diagramText));
        diagramContainer.innerHTML = "<img src='" + imageSource + "'>";
      });
    });
  </script>
</head>
<body>
  <div class="container mt-5">
    <div id="diagram">{{ diagram }}</div>
    <button type="button" id="generate_map" class="btn btn-primary">送信</button>
  </div>
</body>
</html>

